* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(221, 217, 217);
}

#main-container {
  display: grid;
  grid-template-rows: 50px auto 50px;
  grid-template-areas: "header header" "middle middle" "footer footer";
  background-color: blue;
  margin: auto;
}

header {
  background-color: aqua;
  grid-area: header;
}

.middle-container {
  grid-area: middle;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "aside board";
  width: 1000px;
  margin: auto;
}

footer {
  background-color: cadetblue;
  grid-area: footer;
}

aside {
  background-color: rgb(62, 129, 129);
}

#board {
  background-color: rgb(185, 181, 181);
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2px;

}

#board > div {
  height: 200px;
}

#player-hand, #pc-hand {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  height: 125px;
}

#player-hand, #pc-hand {

}