* {
  margin: 0;
  padding: 0;
}

a, li {
  text-decoration: none;
  list-style: none;
}

#main-container {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header" "middle" "footer";
  margin: auto;
}

#main-container > img {
  z-index: -100;
  position: absolute;
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

header {
  background-color:rgb(153, 140, 121, 0.7);
  backdrop-filter: blur(5px);
  grid-area: header;
  grid-template-columns: 1fr auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

header nav ul {
  display: flex;
  gap: 10px;
  margin-right: 30px;
  
}

header nav a {
  display: block;
  padding: 10px 15px;
  background-color: rgb(153, 140, 121);
  border-radius: 5px;
  color: whitesmoke;
  transition: 0.2s;
}

header nav a:hover {
  background-color: whitesmoke;
  color: rgb(153, 140, 121);
}

header img {
  max-width: 80px;
  margin-left: 30px;
}

.middle-container {
  grid-area: middle;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "aside board";
  width: 705px;
  margin: auto;
  border-radius: 10px;
  padding: 15px;
  background-color: rgb(153, 140, 121, 0.7);
  /*  background-color: rgb(255, 255, 255, 0.05)*/
  backdrop-filter: blur(5px);
}

aside {
  border: 1px solid whitesmoke;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

#board {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2px;
  margin: 15px 0;
  border-radius: 10px;
}

#board-container {
  margin-left: 15px;
}

#board > div {
  width: 160px;
  height: 160px;
  border: thick solid grey;
  border-radius: 10px;
  background-color: rgb(185, 181, 181, 0.4);
}

#player-hand{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  height: 100px;
  gap: 2px;
  border-radius: 10px;
}

#player-hand > div {
  border: 3px solid #0000FF;
  background-size: cover;
  border-radius: 5px;
  background-color: #0059ff;
}

#computer-hand {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  height: 100px;
  gap: 2px;
  border-radius: 10px;
}

#computer-hand > div {
  border: 3px solid rgb(247, 10, 10);
  background-size: cover;
  border-radius: 5px;
  background-color: rgb(255, 128, 128);
}


#middle-line {
  border: 1px solid whitesmoke;
  width: 80%;
}

#computer-score {
  color: red;
  font-size: 4rem;
  font-weight: bold
}

#player-score {
  color: blue;
  font-size: 4rem;
  font-weight: bold
}

footer {
  background-color: rgb(185, 181, 181, 0.4);
  grid-area: footer;
  backdrop-filter: blur(5px);
  text-align: center;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
  position: absolute;
}

aside > span {
  overflow: hidden;
  font-weight: bold
}

aside > p {
  display: none;
}



@media screen and (max-width: 768px) {
  .middle-container {
    grid-template-columns: 1fr 6fr;
    width: 600px;
  }
    
  aside > span {
    display: none;
  }

  aside > p {
    display: inline;
  }
}